body{
    background:  rgba(255, 212, 212, 0.372);
}

.carrito{
    background:rgba(226, 171, 171, 0.667);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrito h1{
    display: flex;
    justify-content: center;
    color: #662a2a;
    font-size: 30px;
    
}

.car{
    display: flex;
    justify-content: center;
    background:  #cf8282e1;;
    height: 10vw;
    width: 90%;
}


.scroller{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    width: 100%;
}


input{
    width: 8vw;
    border: 4px solid #662a2a; /* Establece un borde de 1px de grosor y color gris */
    padding: 2px; /* Añade un espacio de 8px entre el contenido y el borde */
    outline: none;  
}

.car .columna{
    align-items: center;
    gap: 15px;
    display: flex;
    width: 50%;
}

.car .descripcion{
    gap: 20px;
    color:#662a2a;
    display: flex;
    align-items: end;
    font-size: 65px;
    height: 55%;
}


/* PRODUCTOS */

.car .a{
    display: flex;
    background-image: url('../storage/img/gucci/bolso1.png');
    justify-content: end;
    padding-right: 2vw;
    width: 20%;
    background-size: contain;
    background-repeat: no-repeat;
}

.car .b{
    display: flex;
    background-image: url('../storage/img/hermes/bufanda1.jpeg');
    justify-content: end;
    padding-right: 2vw;
    width: 20%;
    background-size: contain;
    background-repeat: no-repeat;
}

.car .c{
    display: flex;
    background-image: url('../storage/img/apple/audifonos1.png');
    justify-content: end;
    padding-right: 2vw;
    width: 20%;
    background-size: contain;
    background-repeat: no-repeat;
}

.car .d{
    display: flex;
    background-image: url('../storage/img/rolex/diamantes1.png');
    justify-content: end;
    padding-right: 2vw;
    width: 20%;
    background-size: contain;
    background-repeat: no-repeat;
}


/* TOTAL */

.container-total{
    display: flex;
    justify-content: space-around;
    background:  #cf8282e1;
    height: 14vh;
    width: 90%;
    margin-top: 20px;
    align-items: center;
}

.container-total .h{
    justify-content: end;
    padding-right: 2vw;
    font-size: 40px;
    color: #662a2a;
    width: 20%;
}

.maincontent .about{
    color: #662a2a;
    font-size: 25px;
    margin: 0;
}

.order button{
    min-width: 25%;
    padding: 0 5px;
    border: none;
    background:rgba(255, 212, 212);
    color: #662a2a;
    font-size: 25px;
    transition: 0.1s linear;
}

/*BOTON DE SALIR DEL CARRITO */

#hide {
    min-width: 25%;
    padding: 0 5px;
    border: none;
    background:rgba(255, 212, 212);
    color: #662a2a;
    font-size: 25px;
    transition: 0.1s linear;
}

@media(max-width: 760px){


    #hide {
        font-size: 15px;
    }

    .order button{
        font-size: 10px;
    }

    .maincontent .about{
        font-size: 5px;
    }

    .container-total .h{
        font-size: 20px;
    }
    
    .container-total{
        height: 7vh;
        margin-top: 5px;
    }

    .car .descripcion{
        gap: 10px;
        font-size: 40px;
        height: 95%;
    }

    .car .columna{
        align-items: center;
        gap: 15px;
        display: flex;
        width: 50%;
    }

    input{
        width: 9vw;
        height: 2vh;
    }

    .carrito h1{
        font-size: 20px;
    }

}
